<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 30 30" version="1.1">
    <title>icon/nav/menu-X</title>
    <g id="icon/nav/menu-X" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square" stroke-linejoin="round">
        <g id="Group" transform="translate(15.000000, 15.000000) rotate(45.000000) translate(-15.000000, -15.000000) translate(1.000000, 1.000000)" stroke="#231F20" stroke-width="2">
            <line x1="0" y1="14" x2="28" y2="14" id="Path-3"/>
            <line x1="9.426983e-16" y1="14" x2="28" y2="14" id="Path-3-Copy" transform="translate(14.000000, 14.000000) rotate(90.000000) translate(-14.000000, -14.000000) "/>
        </g>
    </g>
</svg>
