<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
    <title>icon/social/facebook-beige</title>
    <g id="icon/social/facebook-beige" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M12.5,0 C19.4035594,0 25,5.59644063 25,12.5 C25,19.4035594 19.4035594,25 12.5,25 C5.59644063,25 0,19.4035594 0,12.5 C0,5.59644063 5.59644063,0 12.5,0 Z M14.3169033,5 C13.1842172,5 12.2693553,5.3339974 11.5723177,6.00199155 C10.8752801,6.6699857 10.5267613,7.6284124 10.5267613,8.87727165 L10.5267613,11.0555141 L8,11.0555141 L8,13.9743591 L10.5267613,13.9743591 L10.5267613,21.554643 L13.5763008,21.554643 L13.5763008,13.9743591 L16.1030621,13.9743591 L16.4951458,11.0555141 L13.5763008,11.0555141 L13.5763008,9.1822256 C13.5763008,8.68849085 13.6634305,8.33997205 13.8376899,8.1366692 C14.0700355,7.8752801 14.4621192,7.74458555 15.0139409,7.74458555 L16.5822755,7.74458555 L16.5822755,5.0871297 C15.9723676,5.02904345 15.2172437,5 14.3169033,5 Z" id="Combined-Shape" fill="#EBE5CF"/>
    </g>
</svg>