<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
    <title>icon/social/youtube-beige</title>
    <g id="icon/social/youtube-beige" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M12.5,0 C19.4035594,0 25,5.59644063 25,12.5 C25,19.4035594 19.4035594,25 12.5,25 C5.59644063,25 0,19.4035594 0,12.5 C0,5.59644063 5.59644063,0 12.5,0 Z M8.55549692,6.64943636 L8.55549692,18.6494364 L17.5554969,12.6126265 L8.55549692,6.64943636 Z" id="Combined-Shape" fill="#EBE5CF"/>
    </g>
</svg>