/*
1. Announcement Bar
2. Main Content [main]
3. Header
*/


/****** Announcement Bar ******/

.announcement-bar {
    background-color: $color-maroon;
    position: relative;
    height: 34px;
    .container-1440 {
        justify-content: space-between;
        padding:0 20px;
    }
    @include MQ(MQ-480){
        height:50px;
    }
    .slider{
        overflow-y: hidden;
        height:34px;
        @include MQ(MQ-480){
            height:50px;
        }
    }
    .close {
        position: absolute;
        color: $color-white;
        right: 30px;
        top: 7px;
        z-index: 10;
        svg {
            height: 15px;
            
        }
        @include MQ(MQ-480){
            right:12px;
            top:15px;
        }
    }
    // .slick-slider {
    //     height: 34px;
    //     @include MQ(MQ-480){
    //         height:50px;
    //     }
    //     .slick-track {
    //         height: inherit;
    //     }
    //     .slick-slide {
    //         height: 34px;
    //         @include MQ(MQ-480){
    //             height:50px;
    //         }
    //     }
    // }
    // .slick-list {
    //     padding: 0 !important;
    // }
    p {
        text-align: center;
        color:$color-white;
        font-size: 12px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 2.4px;
        // padding: 8px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-transform: uppercase;
        a {
            color:$color-white;
            font: inherit;
            text-decoration: underline;
        }
    }
}


/****** Main Content ******/

.main-content {
    padding-top: 89px;
    &.active {
        padding-top: 36px;
    }
    @include MQ(MQ-980) {
        padding-top: 92px;
        &.active {
            padding-top: 59px;
        }
    }
    @include MQ(MQ-480) {
        padding-top:50px;
    }
    @include MQ(MQ-800) {
        padding-top:69px;
        &.active {
            padding-top: 59px;
        }
    }
    @include MQ(MQ-460) {
        padding-top: 115px;
        &.active {
            padding-top: 59px;
        }
    }
}
.announcement-visible .main-content{
    padding-top: 123px;
    &.active {
        padding-top: 70px;
    }
@include MQ(MQ-480) {
        padding-top:107px;
    }
    @include MQ(MQ-800) {
        padding-top: 103px;
        &.active {
            padding-top: 59px;
        }
    }
}


/****** Header ******/

header {
    position: fixed;
    z-index: 9;
    width: 100%;
    background:transparent;
    /****** Header Logo ******/
    .header-logo {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 49px auto -50px;
        img {
            @include img-object-contain;
            display: none;
            &.logo {
                display: block;
            }
            @include MQ(MQ-980) {
                display: none;
                &.logo {
                    display: none;
                }
                &.mobile-logo {
                    display: block;
                }
            }
        }
        @include MQ(MQ-980) {
            width: 70px;
            height:71px;
            margin:0 auto -30px;
        }
    }
    /****** Fixed Header ******/
    &.fixed {
        position: fixed;
        transition: 0.3s;
        width: 100%;
        top: 0;
        z-index: 99;
        background: $color-light-gold;
        .announcement-bar {
            display: none;
        }
        .main-header {
            background-color: $color-light-gold;
        }
        .navbar-collapse {
            @include MQ(MQ-980) {
                height: calc(100vh - 59px);
                top: 55px;
            }
        }
        .header-logo {
            width:95px;
            height:96px; 
            margin: 0px auto -50px;
            @include MQ(MQ-980) {
                width: 70px;
                height:71px;
                margin:0 auto -30px;
            }
        }
        .main-menu {
            li {
                a {
                    padding: 27px 0 27px;
                    @include MQ(MQ-980) {
                        padding: 20px 0;
                    }
                    
                }
                &:first-child{
                    padding-top:0;
                }
            }
            li.has-big-nav .big-nav,
            li.has-sub-nav .sub-nav {
                top: 70px;
                @include MQ(MQ-980) {
                    top: 0;
                }
            }
        }
    }
    /****** Mobile Hamburger ******/
    .mobile-hamburger {
        display: none;
        #hamburger {
            height: 20px;
            width: 20px;
            .close {
                display: none;
            }
            &.active {
                span {
                    display: none;
                    &.close {
                        display: inline;
                    }
                }
            }
        }
        @include MQ(MQ-980) {
            display: block;
        }
    }
    @include MQ(MQ-980) {
        .ipad-none {
            display: none;
        }
        .ipad-block {
            display: block;
        }
    }
}