.hero-banner {
  .hero-img-content {
    min-height: 629px;
    position: relative;
    background: url(pattern-top-hero-banner.png) no-repeat center/ cover;
    @include MQ(MQ-480) {
      background: url(pattern-top-hero-banner-mobile.png) no-repeat center/
        cover;
    }
    .container-1340 {
      position: relative;
      height: 100%;
      justify-content: flex-end;
      min-height: inherit;
      padding: 0;
      &.left-align {
        justify-content: flex-start;
      }
      &.center-align {
        justify-content: center;
      }
    }
    .image-section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      padding: 30px 0;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .hero-content {
    display: none;
  }
  .content {
    position: relative;
    max-width: 660px;
    text-align: center;
    padding: 60px 80px;
    h3 {
      font-size: 70px;
      line-height: 0.93;
      letter-spacing: 1.4px;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.5px;
      margin-bottom: 40px;
    }
    .btn-solid-blue {
      border: 1px solid;
    }
  }
  @include MQ(MQ-1400) {
    .hero-img-content {
      .image-section {
        padding: 30px;
      }
      .content {
        margin-right: 30px;
      }
      .container-1340 {
        &.left-align {
          .content {
            margin: 0;
            margin-left: 30px;
          }
        }
        &.center-align {
          .content {
            margin-right: 0;
          }
        }
      }
      
    }
  }
  @include MQ(MQ-1024) {
    .content {
      max-width: 450px;
      padding: 40px 50px;
      h3 {
        font-size: 55px;
      }
    }
  }
  @include MQ(MQ-600) {
    .hero-img-content {
      height: 69vw;
      min-height: auto;
      .container-1340 {
        height: inherit;
        min-height: inherit;
      }
      .image-section {
        padding: 10px;
      }
      .content {
        display: none;
      }
    }
    .hero-content {
      display: block;
    }
    .content {
      max-width: 100%;
      padding: 25px 20px;
      h3 {
        font-size: 35px;
        line-height: 0.86;
        letter-spacing: 0.7px;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
}
