<div class="full-width-content-bottom-image">
  <div class="container-1240">
    <div class="content">
      {% include 'icon-two-fish' %}
      {% if section.settings.custom_text_title %}
      <h2 class="h2-big">
        {{ section.settings.custom_text_title }}
      </h2>
      {% endif %}
      <p>
        As designers of cutting-edge fly fishing gear, we understand the value of time spent on the river and the
        memories we make there. Most importantly, we know hwat it takes to make a fly rod that will keep you on the
        water, making memories for years to come. We are a family owned & operated fly fishing company in the heart of
        Montana.
      </p>
    </div>
    <a class="btn--primary">Learn About Our Story</a>
  </div>
  <div class="image-section">
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="{{ "homepage-mountain-range.webp" |asset_url}}"
      >
      <img src="{{ "homepage-mountain-range.webp" |asset_url}}" alt="">
    </picture>
  </div>
</div>

{% schema %}
  {
    "name": "Full width bottom section",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "text",
        "label": "Add custom text below",
        "default": "Add your text here"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Slide Image"
      }
    ]
  }
{% endschema %}