<div class="insta-section">
  {% include 'icon-two-fish' %}
  <div class="container-1440">
    <div class="heading-section flex">
      {% if section.settings.username %}
      <h2>{{ section.settings.username }}</h2>
      {% endif %}
      {% if section.settings.button_text %}
      <a class="link--primary" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
    <ul>
      {% for block in section.blocks %}
      <li>
        {% if block.settings.image != blank %}
        <a class="image-section">
          <img src="{{ block.settings.image | img_url: 'large' }}" alt="">
        </a>
        {% endif %}
      </li>
      {% endfor %}

    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "text",
      "id": "username",
      "label": "Add instagram user ID"
    },
    {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
      },
    {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
      }
  ],
  "max_blocks": 6,
  "blocks": [
     {
       "name": "Instagram",
       "type": "Instagram",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ]
}
{% endschema %}
