<div class="testimonial-section">
  <div class="container-1440">
    <div class="container-1400">
      <div class="user-image">
        <img src="{{ "dummy-user.webp" |asset_url}}" alt="">
      </div>
      <p class="h3">
        “I have fished all over the world with every brand of fly fishing rods and reels you can imagine. My Montana
        Casting Company equipment is the best I’ve ever owned. Lightweight yet extremely powerful, I will never fish
        with another brand of rod again!”
      </p>
      <span>— Mike C.</span>
    </div>
  </div>
</div>