<div class="testimonial-section">
  <div class="container-1440">
    <div class="container-1400">
      <div class="user-image">
        {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'large' }}" alt="">
        {% endif %}
      </div>
      {% if section.settings.content %}
      <p class="h3">
        {{ section.settings.content }}
      </p>
      {% endif %}
      {% if section.settings.name %}
      <span>{{ section.settings.name }}</span>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial section",
    "settings": [
      {
         "type": "image_picker",
         "id": "image",
         "label": "Background Image"
      },
      {
        "id": "content",
        "type": "text",
        "label": "Add Contents",
        "default": "Content"
      },
      {
        "id": "name",
        "type": "text",
        "label": "Name"
      }
    ]
  }
{% endschema %}