<div class="three-column-image-boxes">
  
  <ul class="flex-wrap">
    {% for block in section.blocks %}
    <li>
      {% if block.settings.image != blank %}
       <img src="{{ block.settings.image | img_url: 'large' }}" alt="">
      {% endif %}
      <div class="content">
        {% if block.settings.button %}
        <a class="link--primary" href="{{ block.settings.button_url }}"> {{ block.settings.button }} </a>
        {% endif %}
        {% if block.settings.heading %}
        <h3>{{ block.settings.heading }}</h3>
        {% endif %}
      </div>
    </li>
    {% endfor %}

  </ul>
</div>


{% schema %}
  {
  "name": "Three column image",
    "max_blocks": 6,
    "blocks": [{
      "name": "Category",
      "type": "category",
        "settings": [
          {
        "id": "heading",
        "type": "text",
        "label": "Title",
        "default": "Title"
      },
      {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default": "Button"
      },
      {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Background Image"
      }
          
        ]
         
    }] 
      
}
{% endschema %}