/* Fonts */

$font-family-primary: 'Open Sans',
sans-serif;
$font-family-secondary: 'Lora',
serif;

/* Colors */

$color-black: #231f20;
$color-black2: #0f0c07;
$color-gold: #ebe5cf;
$color-light-gold: #fbf9f5;
$color-white: #ffffff;
$color-gray: #ababab;
$color-light-gray: #efeeef;
$color-dark-gray: rgba(35, 31, 32, 0.5);
$color-original-black: #000;
$color-maroon:#b32226;
$color-red: #e71f25;
$color-green:#4a7342;