{% section 'hero-banner' %}
{% section 'full-width-section' %}


<div class="half-image-half-content-product-slider">
  <div class="container-1440">
    <div class="slider js__product-slider">
      <div class="swiper-wrapper">
        <div class="slide swiper-slide ">
          <div class="image-section">
            <div class="tag">new!</div>
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
        <div class="slide swiper-slide ">
          <div class="image-section">
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
        <div class="slide swiper-slide ">
          <div class="image-section">
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev-product">
        {% include 'icon-arrow-prev' %}
      </div>
      <div class="swiper-button-next swiper-button-next-product">
        {% include 'icon-arrow-prev' %}
      </div>
    </div>
  </div>
</div>

{% section 'three-column-section' %}
{% section 'testimonial' %}
{% section 'insta-section' %}

